html, body{
    font-family: 'Lora', serif;
    padding: 5px;
    background-color: seashell;
    height: 100%;
    margin: 1%;
}
#content{
    min-height: 100%;
    min-width: 500px;
    max-width: 700px;
    position: relative;
    margin: auto;
}
#portrait{
    background: white;
    border: 1px solid black;
    float: right;
    margin: 0 20px 20px 10px;
    padding: 5px;    
}
.gallery img{
    display: inline;
    padding: 5px; 
    background: white;
    border: 1px solid black;
    height: 150px;
    width: 150px;
}
#footer{
    text-align: center;
    width: 100%;
    height:10px;
    position: absolute;
    bottom: 0;
    left: 0;   
}
#intro{
    text-align: justify;
}
#menu{
    background: gainsboro;
    width: auto;
}
#menu li{
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}
table{
    border-collapse: collapse;
}
#table1 table, th, td{
    border: 1px solid black;
    padding: 5px;
    font-style: italic;
    text-align: left;
    margin: 10px;
}
caption{
    text-align: left;
    padding-bottom: 5px;
}
a:link, a:active{
    font-family: 'Lora', serif;
    color: black;
    text-decoration: none;
}
a:visited{
    color: crimson;
}
a:hover{
    color: darkgray;
}
.error {
    color: #FF0000;
}